<% const nocorpse = [
  "player",
  "goblinsoldier",
  "goblinshaman",
  "orcslave",
  "orcsoldier",
  "orccaptain",
  "orcshaman"
]; %>

<% creatures.forEach(function(creature) { %>
    <div>
        <img class="graphic" id="<%= creature.creaturetype %>144"
             src="./img/resized/<%= creature.creaturetype %>144.png">
        </img>
        <img class="graphic" id="<%= creature.creaturetype %>"
             src="./img/resized/<%= creature.creaturetype %>36.png">
        </img>
        <% if (!nocorpse.includes(creature.creaturetype)) { 
            const corpseName = creature.creaturetype + 'corpse';
        %>
            <img class="graphic" id="<%= corpseName %>144"
                 src="./img/resized/<%= corpseName %>144.png">
            </img>
            <img class="graphic" id="<%= corpseName %>"
                 src="./img/resized/<%= corpseName %>36.png">
            </img>
        <% } %>
    </div>
<% }) %>

<% const miscclasses = [ "potion", "ring" ]; %>
<% items.forEach(function(item) { %>
    <% if (!miscclasses.includes(item.class)) { %>
        <div>
            <img class="graphic" id="<%= item.name %>144"
                 src="./img/resized/<%= item.name %>144.png">
            </img>
            <img class="graphic" id="<%= item.name %>"
                 src="./img/resized/<%= item.name %>36.png">
            </img>
        </div>
    <% } %>
<% }) %>
